<div class="container-fluid" style="width:auto">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <a class="navbar-brand">Dashboard</a>
        <nav class="nav nav-tabs nav-stacked">
            <a class="nav-link" [routerLink]="['/create']" routerLinkActive="active" >Add Offer</a>
            <a class="nav-link" [routerLink]="['/browse']" routerLinkActive="active" >Browse All</a>
            <a class="nav-link" [routerLink]="['/search']" routerLinkActive="active" >Search</a>
        </nav>
        <span class="ml-auto">
            <button class="btn bmd-btn-fab">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
            </button>
        </span>
    </nav>
    
</div>


