    <div class="conatiner mt-5 mx-auto" style="width: 30%">
        <div class="card">
            <div class="card-body">
                    <form>
                            <div class="form-group">
                              <label for="user-name" class="bmd-label-floating">Username</label>
                              <input type="text" class="form-control" [(ngModel)]="admin.username" id="user-name" name="user-name">
                            </div>
                            <div class="form-group">
                              <label for="password" class="bmd-label-floating">Password</label>
                              <input type="password" class="form-control" [(ngModel)]="admin.password" id="password" name="password">
                            </div>
                            
                            <button type="submit" class="btn btn-primary btn-raised" (click)="authenticate()">Login</button>
                            <div class='text-danger mt-2' *ngIf="needsLogin">*Invalid Admin Credentials</div>
                        </form>
            </div>
        </div>
    </div>
